<br>
<br>

<div class="blog-slider">
    <div class="blog-slider__wrp swiper-wrapper">
        <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img">
                <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp"
                    alt="">
            </div>
            <div class="blog-slider__content">
                <span class="blog-slider__code">Descarga un Archivo Excel</span>
                <div class="blog-slider__title">Respuestas del Formulario</div>
                <div class="blog-slider__text">En este apartado podrás descargar respuestas de datos de la base de datos listas para clasificar.</div>
                <button (click)="descargarExcel()" class="blog-slider__button">Descargar</button>
                <button (click)="obtenerDatos()" class="blog-slider__button">Verificar Datos</button>
            </div>
        </div>
    </div>
    <div class="blog-slider__pagination"></div>
</div>