<div class="container mt-4">
    <div class="mb-3">
        <label for="fileUpload" class="form-label">Sube el archivo Excel:</label>
        <input type="file" id="fileUpload" class="form-control" (change)="onFileChange($event)" />
    </div>

    <button (click)="clasificar()" [disabled]="!file" class="btn btn-primary">
        Realizar la Clasificación
    </button>

    <div class="mt-3">
        <label class="form-label">Clasificación Resultante:</label>
        <div class="alert alert-info" *ngIf="classificationResult">
            {{ classificationResult }}
        </div>
    </div>

    <div class="mt-4">
        <h3 class="mb-3">Gráfico de Clasificación KNN</h3>
        <canvas id="scatterChart"></canvas>
    </div>

    <button (click)="downloadPDF()" [disabled]="!scatterChart" class="btn btn-secondary mt-3">
        Descargar Gráfico
    </button>
</div>

<br>
<br>
<br>
<br>
<br>
<br>